/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * dystopian:
 *   - http://typekit.com/eulas/00000000000000007735c555
 * guildhall:
 *   - http://typekit.com/eulas/00000000000000007735f731
 * guildhall-condensed:
 *   - http://typekit.com/eulas/00000000000000007735f72b
 * stencil-std:
 *   - http://typekit.com/eulas/000000000000000000012e79
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-11-30 10:44:40 UTC"}*/

@import url(../p.typekit.net/p.q_3ee109f82d.css);

@font-face {
font-family:"stencil-std";
src:url(af/49dea8/000000000000000000012e79/27/l.q_e35c7ac27f) format("woff2"),url(af/49dea8/000000000000000000012e79/27/d.q_e35c7ac27f) format("woff"),url(af/49dea8/000000000000000000012e79/27/a.q_e35c7ac27f) format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"dystopian";
src:url(af/9ed6ff/00000000000000007735c555/30/l.q_affaf8e701) format("woff2"),url(af/9ed6ff/00000000000000007735c555/30/d.q_affaf8e701) format("woff"),url(af/9ed6ff/00000000000000007735c555/30/a.q_affaf8e701) format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"guildhall";
src:url(af/787f3e/00000000000000007735f731/30/l.q_013ed8358b) format("woff2"),url(af/787f3e/00000000000000007735f731/30/d.q_013ed8358b) format("woff"),url(af/787f3e/00000000000000007735f731/30/a.q_013ed8358b) format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"guildhall-condensed";
src:url(af/c1ba79/00000000000000007735f72b/30/l.q_e35c7ac27f) format("woff2"),url(af/c1ba79/00000000000000007735f72b/30/d.q_e35c7ac27f) format("woff"),url(af/c1ba79/00000000000000007735f72b/30/a.q_e35c7ac27f) format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-stencil-std { font-family: "stencil-std",sans-serif; }
.tk-dystopian { font-family: "dystopian",sans-serif; }
.tk-guildhall { font-family: "guildhall",sans-serif; }
.tk-guildhall-condensed { font-family: "guildhall-condensed",sans-serif; }
